*.bak
*.egg
*.egg-info
*.eggs
*.md5
*.pyc
*.pyd
*.pyo
*.so
/__pycache__
*/__pycache__
/venv
.env
.venv
.DS_Store
.Python
.cache
.coverage
.coverage.*
__pycache__
.env.development
result
.history
events.*
terms
.cache/
/results/
*.tar.gz
/tests/models
.tox
.vimrc
.vscode
build
dist
.woco/
